<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9983736149-updkfv99em90ss2qkgp3ih50kjlq486h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9983736149-updkfv99em90ss2qkgp3ih50kjlq486h</string>
	<key>API_KEY</key>
	<string>AIzaSyAjm9wABvZ96DTeqtt20jKTAfqLGiVn9Uw</string>
	<key>GCM_SENDER_ID</key>
	<string>9983736149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ec.optimus.pidegasadmin</string>
	<key>PROJECT_ID</key>
	<string>appcilindros</string>
	<key>STORAGE_BUCKET</key>
	<string>appcilindros.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9983736149:ios:13bf814b9ac548a12a57dc</string>
	<key>DATABASE_URL</key>
	<string>https://appcilindros.firebaseio.com</string>
</dict>
</plist>