.active-item {
    border-left: 8px solid var(--ion-color-primary);
   }
   .menu-header{
    --background:dimgrey;
    height:auto;
   }
   .item-header{
    --background:dimgrey;
    margin-top: 0px;
    
   }
   img.logo{
    height: 35px;
    
   }
   
   