
<ion-content class="fondo">

  <ion-card class="border">
      <ion-card-content>
         <img src="assets/img/logo-manager.png"/>
      </ion-card-content>
  </ion-card>

  <ion-card class="border">
     
       <ion-col>
       <ion-row>
        <ion-item lines="none">
         
            <ion-button
            class="button-bt" 
            routerLink="/perfil-admin" 
            size="large" 
            expand="block" 
            shape="round">Perfil
            <ion-icon  slot="start" class="margin-icon" name="arrow-forward"></ion-icon>
            </ion-button>  
           
     
    </ion-item>
    </ion-row>
    <ion-row>
     <ion-item lines="none">
         
     
           <ion-button 
            class="button-bt" 
            routerLink="/permisos-usuario" 
            size="large" 
            expand="block" 
            shape="round">Permisos de Usuarios
            <ion-icon  slot="start" class="margin-icon" name="arrow-forward"></ion-icon>
            </ion-button> 
           
     
    </ion-item>
    </ion-row>
    <ion-row>
     <ion-item lines="none">
         
     
          <ion-button 
            class="button-bt" 
            routerLink="/promociones" 
            size="large" 
            expand="block" 
            shape="round">Generador de Promociones
            <ion-icon  slot="start" class="margin-icon" name="arrow-forward"></ion-icon>
            </ion-button>  
           
    
    </ion-item>
    </ion-row>
    <ion-row>
     <ion-item lines="none">
         
     
          <ion-button 
            class="button-bt" 
            routerLink="/estadisticas" 
            size="large" 
            expand="block" 
            shape="round">Estadísticas
            <ion-icon  slot="start" class="margin-icon" name="arrow-forward"></ion-icon>
            </ion-button>  
           
    
    </ion-item>
    </ion-row>
    <ion-row>
     <ion-item lines="none">
         
     
          <ion-button 
            class="button-bt" 
            routerLink="/invitaciones" 
            size="large" 
            expand="block" 
            shape="round">Invitaciones y Descuentos VIP
            <ion-icon  slot="start" class="margin-icon" name="arrow-forward"></ion-icon>
            </ion-button>  
           
    
    </ion-item>
    </ion-row>
    <ion-row>
     <ion-item lines="none">
         
     
          <ion-button 
            class="button-bt" 
            routerLink="/lector-qr" 
            size="large" 
            expand="block" 
            shape="round">Lector de Códigos QR
            <ion-icon  slot="start" class="margin-icon" name="arrow-forward"></ion-icon>
            </ion-button>  
           
    
    </ion-item>
    </ion-row>
    <ion-row>
     <ion-item lines="none">
         
     
          <ion-button 
            class="button-bt" 
            routerLink="/pagos" 
            size="large" 
            expand="block" 
            shape="round">Gestor de Pagos
            <ion-icon  slot="start" class="margin-icon" name="arrow-forward"></ion-icon>
            </ion-button>  
           
    
    </ion-item>
    </ion-row>
     <ion-row>
     <ion-item lines="none">
         
     
          <ion-button
           routerLink="/logout" 
            class="button-bt"  
            size="large" 
            expand="block" 
            shape="round">Cerrar Sesión
            <ion-icon  slot="start" class="margin-icon" name="arrow-forward"></ion-icon>
            </ion-button>  
           
    
    </ion-item>
    </ion-row>
  </ion-col> 
  </ion-card>
</ion-content>
